body {
  font-family: "Montserrat", sans-serif;
}

.top-nav {
  border-bottom: 1px solid #dddddd;
  background-color: #fff;
}

.login-btn {
  border: 1px solid #7f37a0 !important;
  color: #7f37a0 !important;
  margin-right: 40px;
}

.login-btn:hover {
  border: 1px solid #401a52 !important;
  color: #401a52 !important;
}

.form-control {
  background-color: transparent !important;
  border-right: 1px solid transparent;
  border-bottom: none !important;
  border-left: none !important;
  border-top: none !important;
  padding: 10px;
}
.card-no-round .form-control:focus {
  color: #0b4900;
  background-color: #fff;
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(72, 255, 0, 0);
}

.search-container {
  background-color: #f9f9f9;
  padding: 6px 20px;
}

.search-container .form-control:focus {
  box-shadow: unset;
  border-right: 1px solid #7f37a0;
}

.signup-btn {
  background-color: #7f37a0;
  color: #fff;
}

.signup-btn:hover {
  background-color: #572070;
  color: #fff;
}

.nav-link {
  color: #000000 !important;
}

/*--navbar home page--*/
.dropdown-divider {
  border: 3px solid #dddddd;
}

.who-am-i-navbar-detail {
  padding: 20px 20px 10px 20px;
}

.dashboard-link {
  padding: 10px 20px 20px 20px;
}

.dropdown-menu.show {
  transform: translate3d(-120px, 48px, 0px) !important;
}

.dropdown-menu {
  box-shadow: -15px 12px 20px 7px rgb(253 244 255) !important;
}

.dropdown-item {
  padding: 10px 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #a248cc;
  text-decoration: none;
  background-color: transparent;
}

.logout-btn {
  padding: 10px 4rem !important;
  font-weight: bold;
}

/*--home page--*/

/**--post card box--**/
.card-no-round {
  padding: 20px;
  border: 1px solid #9140b6;
  position: relative;
  margin-bottom: 4rem;
}

.post-bottom-btn {
  text-align: right;
}

.post-btn {
  padding: 8px 40px;
}

/**--feed wrapper--**/
.section-main {
  margin-top: 100px;
}

.feeds-wrapper {
  margin-top: 30px;
  display: inline-block;
}

.image-profile img {
  object-fit: cover;
}

.post-detail-link {
  color: #000;
  display: block;
  background-color: white;
  padding: 10px 10px;
  border-bottom: 1px solid #dddddd;
  z-index: 0;
  position: relative;
}

.post-detail-link:hover {
  color: rgb(26, 26, 26);
  text-decoration: none;
  background-color: #d3d3d33a;
  border-bottom: none;
}

/* .quotes-people-box-list {
  border-bottom: 1px solid #dddddd;
 
} */

.username {
  font-weight: bold;
}

.second-text {
  margin-top: 20px;
  margin-bottom: 39px;
}

.follow-button-group {
  z-index: 4;
  position: relative;
  display: block;
}

.follow-btn {
  z-index: 6;
  position: relative;
  display: block;
  border: 1px solid #7f37a0;
  color: #7f37a0;
  font-size: 12px;
}

.follow-btn:hover {
  border: 1px solid #ad1af1;
  color: #ad1af1;
}

/**--sidebar--**/
.sidebar-wrapper {
  margin-top: 30px;
  position: relative;
}

.sticky-wrapper-aside {
  position: fixed;
  width: 300px;
}

.overflow-wrapper-aside {
  overflow: hidden;
  overflow-y: scroll;
}

.sidebar-suggested-account {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 30px;
}

.sidebar-landing-page-heading {
  line-height: 1.5;
  font-weight: bold;
  padding-bottom: 40px;
  border-bottom: 1px solid #dddddd;
}

.suggested-users-list {
  overflow: hidden;
  overflow-y: scroll;
  height: 300px;
}

.suggested-account-item {
  display: flex;
}

.suggested-account-item .username {
  font-size: 11px;
}

.suggested-account-item .name {
  font-size: 11px;
}

.username-follow-wrapper {
  width: 100%;
  display: inline-flex;
  padding-top: 4px;
}

.suggested-user-link {
  color: #000;
  text-decoration: none;
}

.suggested-user-link:hover {
  color: rgba(0, 0, 0, 0.672);
  text-decoration: none;
}

.suggested-account-folow-btn {
  color: #7f37a0;
  text-decoration: none;
  font-size: 10px;
}

.suggested-account-folow-btn:hover {
  color: #a248cc;
  text-decoration: none;
}

.more-account {
  font-weight: bold;
  font-size: 13px;
}

.more-account-link:hover {
  text-decoration: none;
}

.more-account-link path {
  fill: #7f37a0;
}

.about {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 10px;
}

.about .nav-about {
  margin-bottom: 16px;
  padding-top: 10px;
}

.about .nav-about .underlist-link {
  margin-right: 16px;
  list-style: none;
  display: block;
  padding-left: 0;
}

.about .nav-about .underlist-link .list-link {
  margin: 0;
  display: inline-block;
  color: #000;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  margin-bottom: 5px;
}

.about .nav-about .underlist-link .list-link a {
  text-decoration: none;
  font-size: 8px;
  color: #9c9c9c;
  font-weight: 400;
  line-height: 13px;
}

.about .nav-about .underlist-link .list-link:not(:last-child):after {
  content: "\00B7";
  margin: 0 0.25em;
  color: #9c9c9c;
}

.copyright {
  color: #9c9c9c;
  text-decoration: none;
}

.containerBox {
  margin-top: 7rem;
}
/*--Register Login Form--*/
.auth-form-control {
  border-right: 1px solid #dddddd !important;
  border-bottom: 1px solid #dddddd !important;
  border-left: 1px solid #dddddd !important;
  border-top: 1px solid #dddddd !important;
}

.font-comment {
  font-size: 0.7rem;
}

.box-comment {
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 8px;
}

/**--**/
.modal-content {
  margin-top: 30%;
}

.modal-body .form-control:focus {
  box-shadow: unset;
  border-right: 1px solid transparent;
}

.modal-backdrop {
  background-color: #ffffff;
  backdrop-filter: blur(29px);
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
